@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
    background: url(../imagenes/fondo.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

header {
    font-family: 'Oswald', sans-serif;
    color: #fff;
    padding: 1em;
    text-align: center;
    background: rgb(20, 17, 70);
    background: linear-gradient(0deg, rgba(20, 17, 70, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

.nav-enlace {
    text-decoration: none;
    display: in-lineblock;
    background-color: #3a3333;
    color: #ffffff;
    padding: 10px 30px;
    border: 3px solid rgb(106, 42, 165);
    border-radius: 22px;

}

.nav-enlace:hover {
    background-color: #000407;

}

nav {
    background-color: #000407;
    padding: 10px;
    display: flex;
    justify-content: space-around;

}


section{
    padding: 1em;
}


#contenedor {
    font-family: 'Oswald', sans-serif;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: nowrap;
    color: #fff;
    display: flex;
    background-color: transparent;
}


form {
    background-color: transparent;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    width: 300px;
}

label {
    display: block;
    color: #fff;
    margin-bottom: 8px;
    font-weight: bold;
}

input {
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

select {

    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}





footer {
    font-family: 'Oswald', sans-serif;
    background-color: #1e2220;
    color: #ffffff;
    text-align: center;
    padding: 3em;
    border-width: 4px;
    border-style: dotted;
    border-color: blue;

}

@media only screen and (max-width: 1024px) {

    nav,
    a {
        font-size: 1.3vb;
    }

    nav {
        padding: 7px 28px;
        margin: 14px 1vb;
    }
}

@media only screen and (max-width: 768px) {

    nav,
    a {
        font-size: 0.9vb;
    }



    nav {
        padding: 5px 15px;
        margin: 14px 0.5vb;
    }

}

@media only screen and (max-width: 1024px) {
    #contenedor {
        width: 75vh;
        font-size: 2vh;
    }
}

@media only screen and (max-width: 768px) {
    #contenedor {
        width: 45vh;
        font-size: 1.5vh;
    }
}